
div.hero {
    background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255,.2)), url("https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    
    
  }

  .content{
      max-width: 75%;
      
      background: rgba(248, 247, 247, 0.3);
      align-self: center;
  
  }
  


  