



.logos{
    color: green;
}
.logos-hover:hover{
    
    color: green;
    
    
}

.link{
    
    font-weight: 500;
    letter-spacing: .2px;   
    color: green;
}

.link:hover{
    
    font-weight: bolder;
    color: green;
    line-height: 0.85;
    
}

.nav-parent{
    width: 50vw;
    margin-left: 30px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 11vw));
    /* 
    if we did this instead of the template it would be a problem:
    grid-auto-flow: column;
    */
    text-align: center;
    
}

.admin-nav{
    width: 60vw;
    
    display: grid;
    
    grid-template-columns: repeat(5, minmax(0, 11vw));
    /* 
    if we did this instead of the template it would be a problem:
    grid-auto-flow: column;
    */
    text-align: center;
    
}
