



.logos{
    color: green;
}
.logos-hover:hover{
    
    color: green;
    
    text-shadow:
        2px 2px rgb(230, 250, 230),
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
}

.link{
    
    font-weight: 500;
    letter-spacing: .2px;   
    color: green;
}

.link:hover{
    
    font-weight: bolder;
    color: green;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px rgb(245, 241, 241),
        -2px 2px white,
        -2px -2px white;
}

.nav-parent{
    width: 50vw;
    margin-left: 30px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /* 
    if we did this instead of the template it would be a problem:
    grid-auto-flow: column;
    */
    text-align: center;
    
}

.admin-nav{
    width: 60vw;
    margin-left: 30px;
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    /* 
    if we did this instead of the template it would be a problem:
    grid-auto-flow: column;
    */
    text-align: center;
    
}