
.nav-container{
    position: relative;
}
.nav{
    display:flex;
    vertical-align: bottom;
    bottom: 0;
    
   
    
   
}

.nav-item{
    
    position: relative;
    align-self: auto;
    display: flex;
    align-content: space-between;
    
}

.link{
    
    color: green;
}